.navbar-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 0;
}

.navbar-app-logo {
  width: 4vw;
  object-fit: contain;
}

.navbar-app-nav {
  display: flex;
  align-items: center;
}

.navbar-app-item {
  position: relative;
  margin-left: 6rem;
}

.navbar-app-link {
  text-decoration: none;
  color: #000;
}

.navbar-app-item::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #000;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(4px);
  transition: all 0.2s ease-in;
}

.navbar-app-item:not(.social):hover::after {
  width: 100%;
  transition: all 0.2s ease-in;
}

.navbar-app-toggle {
  display: none;
}

.navbar-app-social {
  display: flex;
  align-items: center;
}

.navbar-app-social-item {
  margin-left: 1rem;
}

@media screen and (max-width:992px){
  .navbar-app {
    padding: 0 0;
    flex-direction: column;
    position: relative;
    background-color: #FFF;
  }

  .navbar-app-brand {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FFF;
    z-index: 1000;
    padding: 24px 1.25rem;
  }

  .navbar-app-logo {
    width: 16vw;
    object-fit: contain;
  }

  .navbar-app-collapse {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: -900px;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 0 1.850rem;
    transition: all .6s ease;
    overflow-y: hidden;
  }

  .navbar-app-collapse.show {
    top: 0;
    transition: all .6s ease;
  }

  .navbar-app-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: #FFF;
  }

  .navbar-app-item {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-app-toggle {
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
  }

  .navbar-app-item:not(.social):hover::after {
    width: 0;
  }

  .navbar-app-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}