.text-title {
  color: #080841;
  font-size: 3rem;
  font-weight: bold;
}

.text-primary {
  color:#706c6c!important;
}

.text-gradient-primary {
  background: linear-gradient(to right, #0ea5e9, #db2777);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 3.625rem;
}

@media screen and (max-width:992px){
  .text-title {
    font-size: 1.125em;
  }
}